input[type="file"] {
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 8px;
  width: 100px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  z-index: 1;
}

input[type="file"]::-webkit-file-upload-button { /* Style the button */
  background: #fff;
  color: #555;
  padding: 0;
  width: 100%;
  border: none;
  text-align: center;
  -webkit-appearance: none;
}
